<a href="https://colab.research.google.com/github/mmehmadi94/STC-internship/blob/main/Task_3_MLrecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# STC Jawwy

In [1]:
"""
Install libraries that are not installed by default 
"""
!pip install pyxlsb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyxlsb
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10

In [2]:
# Import the required libraries 

import pandas as pd     # provides high-performance, easy to use structures and data analysis tools
import pyxlsb           # Excel extention to read xlsb files (the input file)
import numpy as np      # provides fast mathematical computation on arrays and matrices

# Jawwy dataset
The dataset consists of details about each customer and the movies and/or tv shows watched in addition to the genre. 

Required to build a recommendation engine for STC TV platform to Recommend movies to usesrs that they might be interested inÂ¶

In [3]:
from google.colab import drive
drive.mount('/content/drive')

root_path = "gdrive/My Drive/'Colab Notebooks'/data"

Mounted at /content/drive

In [4]:
dataframe = pd.read_excel('/content/drive/My Drive/Colab Notebooks/data/stc TV Data Set_T3.xlsb',index_col=0)

In [5]:
dataframe.head()

   user_id_maped          program_name  rating      date_ program_genre
0          26138            100 treets       1 2017-05-27         Drama
1           7946                 Moana       1 2017-05-21     Animation
2           7418  The Mermaid Princess       1 2017-08-10     Animation
3          19307  The Mermaid Princess       2 2017-07-26     Animation
4          15860             Churchill       2 2017-07-07     Biography

In [6]:
# check the data shape
dataframe.shape

(1048575, 5)

In [7]:
# display the first 5 rows 
dataframe.head()

   user_id_maped          program_name  rating      date_ program_genre
0          26138            100 treets       1 2017-05-27         Drama
1           7946                 Moana       1 2017-05-21     Animation
2           7418  The Mermaid Princess       1 2017-08-10     Animation
3          19307  The Mermaid Princess       2 2017-07-26     Animation
4          15860             Churchill       2 2017-07-07     Biography

In [8]:
# describe the numeric values in the dataset
dataframe.describe()

       user_id_maped        rating
count   1.048575e+06  1.048575e+06
mean    1.709266e+04  2.497283e+00
std     1.003513e+04  1.119837e+00
min     1.000000e+00  1.000000e+00
25%     8.253000e+03  1.000000e+00
50%     1.714900e+04  2.000000e+00
75%     2.566500e+04  3.000000e+00
max     3.428000e+04  4.000000e+00

In [9]:
# check if any column has null value in the dataset
dataframe.isnull().any()

user_id_maped    False
program_name     False
rating           False
date_            False
program_genre    False
dtype: bool

In [10]:
# Import Visualization libraries 
import matplotlib.pyplot as plt # a comprehensive library for creating static, animated, and interactive visualizations
import plotly #a graphing library makes interactive, publication-quality graphs. Examples of how to make line plots, scatter plots, area charts, bar charts, error bars, box plots, histograms, heatmaps, subplots, multiple-axes, polar charts, and bubble charts.
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [11]:
df = dataframe.copy()

In [12]:
df.head()

   user_id_maped          program_name  rating      date_ program_genre
0          26138            100 treets       1 2017-05-27         Drama
1           7946                 Moana       1 2017-05-21     Animation
2           7418  The Mermaid Princess       1 2017-08-10     Animation
3          19307  The Mermaid Princess       2 2017-07-26     Animation
4          15860             Churchill       2 2017-07-07     Biography

In [13]:
movie_features = df.pivot_table(index = 'program_name', columns='user_id_maped', values='rating').fillna(0)
movie_features.head()

user_id_maped,1,5,9,11,15,17,20,26,28,30,...,34259,34261,34263,34265,34267,34269,34271,34273,34277,34280
program_name,,,,,,,,,,,,,,,,,,,,,
#FollowFriday,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Days in a Madhouse,0.0,0.0,0.0,0.0,1.5,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100 treets,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101 Dalmatians,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
102 Dalmatians,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
"""
TODO build Recommender system to Highlight Programs that usesrs might be interested in
"""

'\nTODO build Recommender system to Highlight Programs that usesrs might be interested in\n'

In [15]:
from scipy.sparse import csr_matrix
movie_features_df_matrix = csr_matrix(movie_features.values)

In [16]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric='cosine', algorithm='brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [17]:
"""
TODO show the recommendations (top 5) for the people who watched "Moana" movie
"""

'\nTODO show the recommendations (top 5) for the people who watched "Moana" movie\n'

In [18]:
movie_features_df_selection= movie_features.reset_index()
movie_features_df_selection[['program_name']]
df[['program_name']].head(10)

                      program_name
0                       100 treets
1                            Moana
2             The Mermaid Princess
3             The Mermaid Princess
4                        Churchill
5  Beavis And Butt-Head Do America
6             The Mermaid Princess
7                             Coco
8                           Kidnap
9                   The Accountant

In [19]:
# show the recommendations (top 5)
program_name='Moana'
recomendations=5

query_index = np.random.choice(movie_features.shape[0])
distances, indices = model_knn.kneighbors(movie_features.
                     iloc[movie_features_df_selection.index[movie_features_df_selection['program_name'] == program_name].tolist()[0],:].values.reshape(1, -1),
n_neighbors = recomendations+1)

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features.index[movie_features_df_selection.index[movie_features_df_selection['program_name'] == program_name].tolist()[0]]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Moana:

1: Trolls, with distance of 0.42764217010640215:
2: Surf's Up : WaveMania, with distance of 0.4705763355181768:
3: The Mermaid Princess, with distance of 0.5066377099343184:
4: The Boss Baby, with distance of 0.551442834662541:
5: The Jetsons & WWE: Robo-WrestleMania!, with distance of 0.5610577907608365: